@import "tailwindcss";
.react-datepicker {
  background-color: #020617 !important;
  border-radius: 16px !important;
  border: 1px solid rgba(255,255,255,0.1) !important;
}

.react-datepicker__day {
  color: white !important;
}

.react-datepicker__day--in-range {
  background: rgba(59,130,246,0.3) !important;
}

.react-datepicker__day--selected {
  background: #3b82f6 !important;
}
@import "react-date-range/dist/styles.css";
@import "react-date-range/dist/theme/default.css";